.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.arrowLeft {
    width: 10vw;
    height: 10vh;
    transform: rotate(180deg);
    padding-left: 2vw;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 40vw;
    margin-top: 10vh;

    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
}

.cardImage {
    margin-left: -10vw;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.cardInfo {
    width: 10vw;
    margin-top: 10vh;
    margin-left: 1vw;
    text-align: center;
}

.arrowRight {
    width: 10vw;
    margin-top: 8vh;
    padding-left: 2vw;
}