html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #FFF2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc
*/