.banner {
    position: relative;
    width: 100vw;
    height: 15vh;
}

.navbar {
    width: 100vw;
    height: 3vh;

    background-color: white;
    border-bottom: solid lightgray;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navOptions {
    margin: auto 1vw auto 1vw;
    font-weight: 500;
}